
body{
    background:url(./ARCHIVOS/fondo\ 02.jpg);
       background-repeat: no-repeat;	
       background-size: cover;  
}
body form p{
padding-left: 10px;
} 
body form p label{
        font-weight: bolder;
        padding-left: 300px;
}
body form input{
     font-weight: bold;
}
body div div select option{
    font-weight: bolder;
    text-align: center;
}
body div div label{
    font-weight: bolder;
    color: red;
    padding-left: 150px;
}
body div div input{
    font-weight: bold;
    text-align: center;
}
body div div p label{
    font-weight: bolder;
    color: green;
    padding-left: 150px;
}
body form div div input{
    font-weight: bold;
    text-align: center;
}
body form div div p label{
    font-weight: bolder;
    color: blue;
    padding-left: 150px;
}
